html {
    font-family: Verdana;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111111;
        }

.centerDiv {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

    a:hover {
        color: #666666;
    }

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

.trHeader {
    border-top: 0;
    border-bottom: solid 1px;
}

.trNoBorders {
    border-top: 0;
    border-bottom: 0;
}

.trHoverable {
}

    .trHoverable:hover {
        background-color: #dddddd;
    }

tr {
    border-top: solid 1px;
}

    tr:hover {
        background-color: white;
    }

td {
    vertical-align: middle;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
