<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tracking Station</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav>
            <div style="margin:auto;">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="BodyServant" asp-action="Bodies">Bodies</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="VesselServant" asp-action="Vessels">Vessels</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
</body>
</html>
